body{
    margin:0;
    height: 100%;
}
canvas{
    display:block;
}
* {
  box-sizing: border-box;
}

.parent-container {
  width: 100%;
}



.flex-container-header{
    display: flex;
    flex-direction: in-line;
    background-color: #1f3d1f;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 10px;
    height: 40%;
    width: 100%;
    padding-top: 20px;
    justify-content: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
   
   

   
}

a{
    text-decoration: none;
    color: #f8f6eb;
   
}




#home{
   /* position:absolute; */
    padding: 10px;
    
   
   
}

#home:hover{
    text-decoration: none;
    background-color: #D6A441;
    border-radius: 5px;
}

#about{
    /* position: absolute; */
    padding: 10px;
  
}

#about:hover{
    text-decoration: none;
    background-color: #D6A441;
    border-radius: 5px;
}

#cafe{
    /* position: absolute; */
    padding: 10px;
    
}

#cafe:hover{
    text-decoration: none;
    background-color: #D6A441;
    border-radius: 5px;
}

#contact{
    /* position: absolute; */
    padding: 10px;
   
}

#contact:hover{
    text-decoration: none;
    background-color: #D6A441;
    border-radius: 5px;
}

#insta{
    display: flex;
    flex-wrap: nowrap;
}



.flex-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    justify-content: center;
    align-items: center;
    /* border: solid black;
    border-radius: 20px; */
    background-color: #1f3d1f;
    font-family: 'louiseregular';

   
}

@font-face {
  font-family: 'louiseregular';
  src: url('../media/fonts/louise-regular-webfont.woff2') format('woff2'),
       url('../media/fonts/louise-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

h1{
  font-family: 'louiseregular';
    font-size: 100px;
    color: #f8f6eb;
    margin-top: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

    
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-top: -70px;
    padding-bottom: 60px;
    justify-content: center;
    padding-left: 20px;
    flex-wrap: wrap;

   
    
    color: #f8f6eb;

    
}

h3{
  font-family: 'louiseregular';
    font-size: 60px;
   color: #1f3d1f;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 0px;
   

    

}

h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: black;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: auto;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

h5{
  font-family: "Space Mono", sans-serif;
  font-size: 16px;
  margin-bottom: 0px;
}

.flex-container2{
    display: flex;
    flex-direction: column;
  width: 100%;
  height: 100%;
}

.flex-container3{
 display: flex;
 flex-direction: column;
 margin-top: 50px;
  width: 100%;

   

}


#coffee{
    margin-left: auto;
    margin-right: auto;
  width: 80%;
  height: 80vh;
  justify-content: center;
  border: solid black;
  box-shadow: 20px 20px #1f3d1f;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 10%;

}

#coffee-pages{
  margin-left: auto;
  margin-right: auto;
width: 80%;
height: 80vh;
justify-content: center;
border: solid black;
box-shadow: 20px 20px #1f3d1f;
object-fit: cover;
margin-top: 20px;
object-position: 50% 50%;
border-radius: 10%;

}


#coffee-scroll{
  margin-left: auto;
  margin-right: auto;
width: 80%;
height: 80vh;
justify-content: center;
border: solid black;
box-shadow: 20px 20px #1f3d1f;
object-fit: cover;
object-position: 50% 50%;


}


div.scrollmenu {
    
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 100px;
    background-color:#1f3d1f;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    margin-bottom: 200px;
    padding-bottom: 100px;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }
  

  
  div.scroll {
    margin: 4px, 4px;
    padding: 4px;
   color: black;
    width: 500px;
    height: 10vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    margin-top: 100px;
    background-color: green;

}


  .flex-container-footer{
    display: flex;
    flex-direction: in-line;
    background-color: #1f3d1f;
    font-size: 25px;
    padding: 10px;
    height: 30%;
    width: 100%;
    color: #f8f6eb;
    bottom: 0;
    position: fixed;
   
   
   
}




.flex-container4{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
  margin-bottom: 100px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
   border: solid #1f3d1f;
   box-shadow: 20px 20px #1f3d1f;
    color: #f8f6eb;
    margin-top: 100px;
    border-radius: 10%;

}

.mobile-container {
    max-width: 480px;
    margin: auto;
   background-color: #396346;
    height: 500px;
    border-radius: 10px;
    display: none;
  }
  

  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: #f8f6eb;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: none;
  }
  
  .topnav a.icon {
   background-color: #f8f6eb;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #f8f6eb;
   
  }
  
  .active {

    color: #f8f6eb;
  }


  p{
    color: #f8f6eb;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    
  }

.flex-item-hours{
  display: flex;
  flex-direction: column;
    font-size: 16px;
    width: 40%;
    height: 100%;
    color: #f8f6eb;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    
   
 
    

}

.flex-item-hours2{
  display: flex;
  flex-direction: column;
  width: 20%;
    height: 100%;
  font-size: 16px;
  color: #F2F0EB;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  


}

.flex-item-hours3{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  font-size: 16px;
  color: #F2F0EB;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  


}

.our-story{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.our-story1{
  display: flex;
  flex-direction:column;
  width: 50%;
  height: 100vh;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  
}

.our-story2{
  display: flex;
  flex-direction:column;
  width: 50%;
  height: 100vh;

  flex-wrap: wrap;
  
}

.our-story3{
  display: flex;
  flex-direction:column;
  width: 50%;
  height: 100vh;
color: orange;
  flex-wrap: wrap;
}


/* Media Queries */


/* ---------------iphone 10 --------------*/

@media (max-width: 475px) and (max-height: 812px) {
    .flex-container-header {
         display: none;
     
     }

     .flex-container{
        display: none;
     }

     .mobile-container {
        /* max-width: 475px; */
        width: 100%;
        margin: auto;
        /* background-color: orange; */
        height: 100px;
        border-radius: 50px;
        display: block;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-top: 20px;
        
      }
      
    
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-family: 'louiseregular', sans-serif;
        font-size: 17px;
        display: block;
     
      }
      
      .topnav a.icon {
       
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    
      }
      
      .topnav a:hover {

        background-color: #F0E4D0;
       
      }
      
      .active {
    
        color: #F0E4D0;
        font-size: 12px;
      }


.flex-container{
    width: 100%;
    height: 80vh;}


      h1{
        font-size: 26px;
        margin-top: auto;
      }


h2{
    font-size: 25px;
    margin-top:0px;
    margin-left: auto;
    margin-right: auto;
}

h3{
    font-size: 15px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
}


h4{
    font-size: 20px;
    margin-top: auto;
    padding-left: auto;
}

#burger{
    font-size: 20px;
font-family: "Jaldi", sans-serif;
width: 100%;
}


}


/* ---------------tablet --------------*/

@media (max-width: 768px) and (max-height: 612px) {
    .flex-container-header {
         display: none;
     

      
     }

     .mobile-container {
        max-width: 480px;
        margin: auto;
        background-color: #9FBD9A;
        height: 500px;
        border-radius: 50px;
        display: block;
        padding-bottom: 20px;
      }
      
    
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-family: 'Jaldi', sans-serif;
        font-size: 17px;
        display: block;
        background-color: #9FBD9A;
      }
      
      .topnav a.icon {
       background-color: #9FBD9A;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: #9FBD9A;
       
      }
      
      .active {
    
        color: #F2F0EB;
      }


.flex-container{
    width: 100%;
    height: 80vh;}


      h1{
        font-size: 80px;
        margin-top: auto;
      }


h2{
    font-size: 25px;
    margin-top:0px;
    margin-left: auto;
    margin-right: auto;
}

h3{
    font-size: 15px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
}


h4{
    font-size: 20px;
    margin-top: auto;
    padding-left: auto;
}

#home{
    font-size: 20px;
}

#about{ 
    font-size: 20px;
    left: 70px;

}

#insta{
    position: absolute;
    right: 0px;
    padding-right: 30px;

}

#facebook{
    position: absolute;
    right: 100px;

}


}


