body{
    margin:0;
    height: 100%;
}
canvas{
    display:block;
}
* {
  box-sizing: border-box;
}


table{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
}


.google-map {
  padding-bottom: 50%;
  position: relative;
  background-color:#1f3d1f;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;

}

.parent-container {
  width: 100%;
}

/* Clearfix for parent container */
.parent-container::after {
  content: "";
  display: table;
  clear: both;
}



.flex-container-header{
    display: flex;
    flex-direction: in-line;
    background-color: #1f3d1f;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 10px;
    height: 40%;
    width: 100%;
    padding-top: 20px;
    justify-content: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
   
   

   
}

a{
    text-decoration: none;
    color: #f8f6eb;
   
}




#home{
   /* position:absolute; */
    padding: 10px;
    
   
   
}

#home:hover{
    text-decoration: none;
    background-color: #D6A441;
    border-radius: 5px;
}

#about{
    /* position: absolute; */
    padding: 10px;
  
}

#about:hover{
    text-decoration: none;
    background-color: #D6A441;
    border-radius: 5px;
}

#cafe{
    /* position: absolute; */
    padding: 10px;
    
}

#cafe:hover{
    text-decoration: none;
    background-color: #D6A441;
    border-radius: 5px;
}

#contact{
    /* position: absolute; */
    padding: 10px;
   
}

#contact:hover{
    text-decoration: none;
    background-color: #D6A441;
    border-radius: 5px;
}

#insta{
    display: flex;
    flex-wrap: nowrap;
}

#map{
  width: auto;
  height: auto;
}

.flex-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    justify-content: center;
    align-items: center;
    /* border: solid black;
    border-radius: 20px; */
    background-color: #1f3d1f;
    font-family: 'boecklin';

   
}




@font-face {
  font-family: 'louiseregular';
  src: url('../media/fonts/louise-regular-webfont.woff2') format('woff2'),
       url('../media/fonts/louise-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'boecklin';
  src: url('../media/fonts/boecklin.ttf') format('ttf');
  src: url('../media/fonts/boecklin.woff') format('woff');
  font-weight: normal;
  font-weight: normal;


}


h1{
  font-family: 'boecklin';
    font-size: 100px;
    color: #f8f6eb;
    margin-top: 120px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: auto;
  

    
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    /* margin-top: -70px; */
    padding-bottom: 60px;
    justify-content: center;
    padding-left: 20px;
    flex-wrap: wrap;
    margin-bottom: 70px;
margin-top: auto;
   
    
    color: #f8f6eb;

    
}

h3{
  font-family: 'boecklin';
    font-size: 60px;
   color: #1f3d1f;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 0px;
   

    

}

h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: black;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: auto;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;

}

#burger{
  font-family: "Space Mono", sans-serif;
  font-size: 16px;
  margin-bottom: 0px;
}

h5{
  font-family: "Space Mono", sans-serif;
  font-size: 16px;
  margin-bottom: 0px;
}




.flex-container2{
    display: flex;
    flex-direction: column;
  width: 100%;
  height: 100%;
}

.flex-container3{
 display: flex;
 flex-direction: column;
 margin-top: 50px;
  width: 100%;

   

}


#coffee{
    margin-left: auto;
    margin-right: auto;
  width: 80%;
  height: 80vh;
  justify-content: center;
  border: solid black;
  box-shadow: 20px 20px #1f3d1f;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 10%;
margin-top: 20px;
margin-bottom: 20px;
}

#food{
  margin-left: auto;
  margin-right: auto;
width: 80%;
height: 80vh;
justify-content: center;
border: solid black;
box-shadow: 20px 20px #1f3d1f;
object-fit: cover;
object-position: 50% 50%;
border-radius: 10%;

}


#coffee-pages{
  margin-left: auto;
  margin-right: auto;
width: 80%;
height: 80vh;
justify-content: center;
border: solid black;
box-shadow: 20px 20px #1f3d1f;
object-fit: cover;
margin-top: 20px;
object-position: 50% 50%;
border-radius: 10%;

}


#coffee-scroll{
  margin-left: auto;
  margin-right: auto;
width: 80%;
height: 80vh;
justify-content: center;
border: solid black;
box-shadow: 20px 20px #1f3d1f;
object-fit: cover;
object-position: 50% 50%;


}


div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}



.scroll {
  overflow-y: auto;
  height: 200px; /* Adjust the height as needed */
  border: 1px solid #ccc; /* Optional: for visual debugging */
  display: block;
  width: 100%;
}


.flex-container-footer {
  display: flex;
  flex-direction: row; /* Horizontal layout */
  background-color: #1f3d1f;
  font-size: 25px;
  padding: 10px;
  height: 30%;
  width: 100%;
  color: #f8f6eb;
  bottom: 0;
  justify-content: space-around;
  /* position: fixed; Optional if you want it fixed at the bottom */
}





.flex-container4{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
  margin-bottom: 100px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
   border: solid #1f3d1f;
   box-shadow: 20px 20px #1f3d1f;
    color: #f8f6eb;
    margin-top: 100px;
    border-radius: 10%;

}

.mobile-container {
    max-width: 480px;
    margin: auto;
   background-color: #1f3d1f;
    height: 500px;
    border-radius: 10px;
    display: none;
  }
  

  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: #f8f6eb;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    display: none;
 
  }
  
  .topnav a.icon {
   background-color: #f8f6eb;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #f8f6eb;
   
  }
  
  .active {

    color: #f8f6eb;
  }


  p{
    color: #f8f6eb;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    
  }

.flex-item-hours{
  display: flex;
  flex-direction: column;
    font-size: 16px;
    width: 40%;
    height: 100%;
    color: #f8f6eb;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    margin-left: 20px;
    
   
 
    

}

.flex-item-hours2{
  display: flex;
  flex-direction: column;
  width: 20%;
    height: 100%;
  font-size: 16px;
  color: #F2F0EB;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  


}

.flex-item-hours3{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  font-size: 16px;
  color: #F2F0EB;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  


}

.our-story{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  
}

.umbria{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.our-story1{
  display: flex;
  flex-direction:column;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 50%;
  height: auto;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  

}

.our-story2{
  display: flex;
  flex-direction:column;
  width: 40%;
  height: auto;

   color: #f8f6eb;
   margin-top:100px;
   margin-bottom: 100px;

margin-right: auto;
text-align: center;
  flex-wrap: wrap;
 
}

.our-story3{
  display: flex;
  flex-direction:column;
  width: 50%;
  height: 100vh;
/* background-color: #1f3d1f; */
  flex-wrap: wrap;
}


.umbria{
  width: 100%;
  height: 100vh;
  background-color: #D6A441;
}


.contact{
  width: 100%;
  height: 70vh;
  background-color: #D6A441;
  color: black;
  display: flex;
  flex-direction: in-line;
font-size: 30px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
justify-content: center;
justify-content: space-around;
margin-bottom: 50px;
padding-top: 50px;

 
}

.contact2{
  width: 100%;
  height: 50vh;
  
  
}


.hi{

  font-family: 'boecklin';
  font-size: 60px;
  justify-content: center;
  padding-top: 10px;
  text-align: center;
  color: white;
  width: 100%;
  height: 20vh;
 
  flex-wrap: wrap;
  flex-direction: in-line;
  display: flex;
  background-color:#1f3d1f;

}


.map{
display: flex;
width: 100%;
height: 70vh;
background-color:#1f3d1f;
flex-wrap: wrap;
flex-direction: in-line;
padding-top: 20px;
padding-bottom: 20px;
}

.scroll{
  display: block; /* Ensure block-level display for vertical stacking */
  margin: 0;
  padding: 10px;
  color: black;
  width: 100%;
  height: auto;
  text-align: left;
  overflow: visible;
  margin-bottom: 50px;
  flex-wrap: wrap;
}


button{
  font-family: "Space Mono", sans-serif;
  border: solid #1f3d1f;
  width:100px;
  color:#F0E4D0;
  background-color:#1f3d1f;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
border-radius: 20px;
}

button:hover{
  color:#D6A441;
}



/* Media Queries */



/* Media Queries */
@media screen and (max-width: 768px) {
  .flex-container-header {
      display: none;
  }
.flex-container{
  display: none;
}

  h1 {
     display: none;
  }
  h2 {
     display:none;
  }
 
  .our-story1, .our-story2, .our-story3 {
      width: 90%;
  }
  #coffee, #coffee-pages, #coffee-scroll {
      width: 100%;
      height: auto;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
  }


h3{
  font-size: 30px;
}

  .mobile-container {
    /* max-width: 475px; */
    width: 100%;
    margin: auto;
    /* background-color: orange; */
    height: 100px;
    border-radius: 50px;
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
    
  }
  

  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'boecklin', sans-serif;
    font-size: 30px;
    display: block;
 
  }
  
  .topnav a.icon {
   
    display: block;
    position: absolute;
    right: 0;
    top: 0;

  }
  
  .topnav a:hover {

    background-color: #f8f6eb;
   
  }
  
}
  .active {

    color: #f8f6eb;
    font-size: 12px;
  }








  @media screen and (max-width: 480px) {
    .topnav a.icon {
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive 
    a {
        float
  
  
  
  
       .mobile-container {
          max-width: 480px;
          width: 100%;
          margin: auto;
          /* background-color: orange; */
          height: 100px;
          border-radius: 50px;
          display: block;
          padding-bottom: 20px;
          padding-top: 20px;
          margin-top: 20px;
          
        }
        
      
        
        .topnav #myLinks {
          display: block;
        }
        
        .topnav a {
          color: black;
          padding: 0px;
          text-decoration: none;
          font-family: 'boecklin', sans-serif;
          font-size: 17px;
          display: block;
       
        }
        
        .topnav a.icon {
         
          display: block;
          position: absolute;
          right: 0;
          top: 0;
      
        }
        
        .topnav a:hover {
  
          background-color: #f8f6eb;
         
        }
        
      }
        .active {
      
          color: #f8f6eb;
          font-size: 12px;
        }
  
  
 
  
    .flex-container-footer{
      font-size: 10px;
      justify-content: center;
      padding: 5px;
      margin:0;
    }  
    
    .flex-item-hours{
      display: column;
      font-size: 10px;
    }
  
   
 
  
    .hi {
        text-align: left;
        font-size: 32px;
        flex-direction: column;
  
  
    }
  
    .map{
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
  
  
  
    #map{
   padding: 20px;

    }
  
  
  #coffee{
    width: 80%;
    height: auto;
    box-shadow: 10px 10px #1f3d1f;
    object-fit: cover;
   
  
  }

  #coffee-pages{
    width: 80%;
    height: auto;
    box-shadow: 5px 5px #1f3d1f;
  }
  
    .our-story2, .our-story3{
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: flex;

    
    }

  
  p{ 
    font-size: 12px;
    justify-content: center;
  }
  
  h4{
    display: block;
    justify-content: center;
  }
  
  .scroll {
    display: block; /* Ensure block-level display for vertical stacking */
    margin: 0;
    padding: 10px;
    color: black;
    width: 100%;
    height: auto;
    text-align: left;
    overflow: visible;
    margin-bottom: 50px;
    flex-wrap: wrap;
}


.our-story {
    display: flex;
    flex-direction: column; /* Use flex-direction for column layout */
    height: auto;
    flex-wrap: wrap;
    
}

#food {
    display: none; 
}

.umbria {
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    display: block;
    justify-content: center;
    align-items: center;
}



h3 {
    margin: 0; /* Remove top and bottom margins */
}




.our-story1{
  margin-top: auto;
  margin-bottom: auto;
  height: auto;

  width: 100%;


}

.our-story2{
  height: auto;
   margin-top:auto;
   margin-bottom: auto;
   /* box-shadow: 5px 5px #1f3d1f; */

 width: 100%;
 padding: 10px;
  

}

.our-story3{
  height: auto;
   margin-top:auto;
   margin-bottom: auto;
   align-items: center;
   text-align: center;
   padding: 10px;
   width: 100%;
  

  
}

.contact{
  display: none;
  flex-direction: column;
  font-size: 24px;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}

  }
  
 



  
    
  @media screen and (max-width: 768px) {
    .scroll {
      display: block;
    }
  }
  
  @media screen and (min-width: 769px) {
    .scroll {
      display: block;
    }
  }

  
  
  
  
  
  
      
  


  